---
import Icon from "@components/elements/icon/icon.astro";

const {
  text,
  iconName,
  iconPosition = "before",
  hideText = false,
  variant = "primary",
  size = "md",
  link,
  element = "a",
  class: className,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

if (hideText && !htmlAttributes["aria-label"]) {
  htmlAttributes["aria-label"] = text;
}

const Tag = element as any;

const tagProps = Tag === "a" && link ? { href: link } : Tag === "button" ? { type: "button" } : {};
---

<Tag
  class:list={[
    "button",
    `variant-${variant}`,
    `size-${size}`,
    iconPosition === "after" && "icon-after",
    hideText && "icon-only",
    className,
  ]}
  {...tagProps}
  {...htmlAttributes}
>
  {iconName && <Icon name={iconName} size="none" />}
  {!hideText && (text ? <span>{text}</span> : <slot />)}
</Tag>
