---
import { navSchema } from "./schema";
import "./theme.pcss";

const props = navSchema.parse(Astro.props);

const ariaProps = props.ariaLabel ? { "aria-label": props.ariaLabel } : {};
---

<style>
  @import "./styles.pcss";
</style>

<nav
  class:list={["nav", props.layout, props.className]}
  role="navigation"
  id={props.id}
  data-layout={props.layout}
  {...ariaProps}
>
  <div class="inner">
    <slot name="brand" />
    <slot name="menu" />
    <slot name="utilities" />
  </div>
</nav>
