.nav {
  --nav-width: 100%;
  width: var(--nav-width);
}

.nav.sidebar {
  --nav-width: 250px;

  > .inner {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}

::slotted([slot="brand"]) {
  display: flex;
  flex-shrink: 0;
}
