---
import { navSchema } from "./schema";
import "./theme.pcss";

const props = navSchema.parse(Astro.props);

const ariaProps = props.ariaLabel ? { "aria-label": props.ariaLabel } : {};
---

<style is:global>
  [data-theme="light"] {
    --nav-sidebar-link-fontColor: var(--gray-11);
    --nav-sidebar-link-iconColor: var(--gray-5);
    --nav-sidebar-linkHover-fontColor: var(--gray-11);
    --nav-sidebar-linkHover-iconColor: var(--gray-11);
    --nav-sidebar-active-textDecorationColor: var(--gray-5);
    --nav-sidebar-linkHover-backgroundColor: var(--gray-1);
  }

  /* Dark theme variables */
  [data-theme="dark"] {
    --nav-link-color: var(--gray-2);
    --nav-link-hover-backgroundColor: var(--gray-10);
    --nav-dropdown-backgroundColor: var(--gray-12);
    --nav-dropdown-borderColor: var(--gray-8);
    --nav-dropdown-title-color: var(--gray-3);
    --nav-dropdown-description-color: var(--gray-5);
    --nav-mobile-backgroundColor: var(--gray-12);
    --nav-mobile-dropdown-backgroundColor: var(--gray-12);
    --nav-mobile-borderColor: var(--gray-8);
    --nav-mobile-stroke-color: var(--gray-3);
    --nav-mobile-dropdown-color: var(--gray-5);
    --nav-sidebar-link-fontColor: var(--gray-3);
    --nav-sidebar-subnav-link-fontColor: var(--gray-3);
    --nav-sidebar-active-textDecorationColor: var(--gray-7);
    --nav-sidebar-linkHover-fontColor: var(--gray-3);
    --nav-sidebar-linkHover-iconColor: var(--gray-3);
    --nav-sidebar-active-textDecorationColor: var(--gray-3);
    --nav-sidebar-linkHover-backgroundColor: var(--gray-10);
  }
</style>

<style>
  .nav {
    --nav-width: 100%;
    width: var(--nav-width);
  }

  .nav.sidebar {
    --nav-width: 250px;

    > .inner {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  ::slotted([slot="brand"]) {
    display: flex;
    flex-shrink: 0;
  }
</style>

<nav
  class:list={["nav", props.layout, props.className]}
  role="navigation"
  id={props.id}
  data-layout={props.layout}
  {...ariaProps}
>
  <div class="inner">
    <slot name="brand" />
    <slot name="menu" />
    <slot name="utilities" />
  </div>
</nav>
