[data-theme="light"] {
  --nav-sidebar-link-fontColor: var(--gray-11);
  --nav-sidebar-link-iconColor: var(--gray-5);
  --nav-sidebar-linkHover-fontColor: var(--gray-11);
  --nav-sidebar-linkHover-iconColor: var(--gray-11);
  --nav-sidebar-active-textDecorationColor: var(--gray-5);
  --nav-sidebar-linkHover-backgroundColor: var(--gray-1);
}

/* Dark theme variables */
[data-theme="dark"] {
  --nav-link-color: var(--gray-2);
  --nav-link-hover-backgroundColor: var(--gray-10);
  --nav-dropdown-backgroundColor: var(--gray-12);
  --nav-dropdown-borderColor: var(--gray-8);
  --nav-dropdown-title-color: var(--gray-3);
  --nav-dropdown-description-color: var(--gray-5);
  --nav-mobile-backgroundColor: var(--gray-12);
  --nav-mobile-dropdown-backgroundColor: var(--gray-12);
  --nav-mobile-borderColor: var(--gray-8);
  --nav-mobile-stroke-color: var(--gray-3);
  --nav-mobile-dropdown-color: var(--gray-5);
  --nav-sidebar-link-fontColor: var(--gray-3);
  --nav-sidebar-subnav-link-fontColor: var(--gray-3);
  --nav-sidebar-active-textDecorationColor: var(--gray-7);
  --nav-sidebar-linkHover-fontColor: var(--gray-3);
  --nav-sidebar-linkHover-iconColor: var(--gray-3);
  --nav-sidebar-active-textDecorationColor: var(--gray-3);
  --nav-sidebar-linkHover-backgroundColor: var(--gray-10);
}
