---
// @ts-ignore
import markdownit from "markdown-it";

const md = markdownit({ html: true });

const {
  text = "",
  alignX = "start",
  class: className,
  editable = true,
  "data-prop": customDataProp = "text",
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);

const markdownContent = text ? md.render(text) : "";

const textDataAttributes = editable && customDataProp
  ? {
      "data-editable": "text",
      "data-prop": customDataProp,
    }
  : {};
---

<div class:list={["text", className, `align-${alignX}`]} {...htmlAttributes}>
  {
    text ? (
      <span {...textDataAttributes} set:html={markdownContent} />
    ) : (
      <span {...textDataAttributes}>
        <slot />
      </span>
    )
  }
</div>

<style lang="pcss">
  .text {
    margin-top: var(--spacing-lg);

    &.align-start {
      text-align: start;
    }

    &.align-center {
      text-align: center;
    }

    &.align-end {
      text-align: end;
    }
  }
</style>
