---
import Component from "@components/utils/renderBlock.astro";

const { direction, align, buttonBlocks, class: className, label, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const alignMap = {
  start: "align-start",
  center: "align-center",
  end: "align-end",
} as const;

const alignClass = alignMap[align as keyof typeof alignMap] ?? "align-start";
---

<div
  class:list={["button-group", direction === "column" ? "column" : "row", alignClass, className]}
  {...htmlAttributes}
>
  <slot />
  <Component contentBlocks={buttonBlocks} />
</div>
