---
const {
  title,
  text,
  class: className,
  editable = true,
  "data-prop-title": customDataPropTitle = "title",
  "data-prop-content": customDataPropContent = "text",
  _component,
  ...htmlAttributes
} = Astro.props;

const titleDataAttributes =
  editable && customDataPropTitle
    ? {
        "data-editable": "text",
        "data-prop": customDataPropTitle,
      }
    : {};

const contentDataAttributes =
  editable && customDataPropContent
    ? {
        "data-editable": "text",
        "data-prop": customDataPropContent,
      }
    : {};

const hasTitle = title?.trim().length > 0;
const hasTitleSlotContent = Astro.slots.has("title");
const hasText = text?.trim().length > 0;
const hasSlotContent = Astro.slots.has("default");

if (!_component && ((!hasTitle && !hasTitleSlotContent) || (!hasText && !hasSlotContent))) return;
---

<div class="definition-list-item" {...htmlAttributes}>
  <dt class:list={["title", className]} role="term" {...titleDataAttributes}>
    <span {...titleDataAttributes}>
      <slot name="title">
        {title}
      </slot>
    </span>
  </dt>
  <dd class:list={["content", className]} role="definition">
    <span {...contentDataAttributes}>
      <slot>
        {text}
      </slot>
    </span>
  </dd>
</div>

<style is:global>
  @layer components {
    .definition-list-item {
      display: contents;
    }

    .title {
      font-weight: var(--font-weight-bold);
    }
  }
</style>