:where(:root) {
  --aspect-square: 1 / 1;
  --aspect-video: 4 / 3;
  --aspect-photo: 3 / 2;
  --aspect-widescreen: 16 / 9;
  --aspect-cinema: 21 / 9;
  --aspect-portrait: 9 / 16;
  --aspect-golden: 1.618 / 1;
}
