---
import MarkdownIt from "markdown-it";

const {
  text,
  size,
  alignX = "start",
  class: className,
  editable = true,
  "data-prop": customDataProp = "text",
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);

const md = MarkdownIt({ html: true });
let MarkdownText = text ? md.renderInline(text) : "";

MarkdownText = MarkdownText.replace(/\n/g, "<br />");

const textDataAttributes = editable && customDataProp
  ? {
      "data-editable": "text",
      "data-prop": customDataProp,
    }
  : {};
---

<p
  class:list={["simple-text", size && `size-${size}`, `align-${alignX}`, className]}
  {...htmlAttributes}
>
  {
    text ? (
      <span {...textDataAttributes} set:html={MarkdownText} />
    ) : (
      <span {...textDataAttributes}>
        <slot />
      </span>
    )
  }
</p>

<style lang="pcss">
  .simple-text {
    margin-top: var(--spacing-lg);

    &.size-xs {
      font-size: var(--font-size-xs);
    }

    &.size-sm {
      font-size: var(--font-size-sm);
    }

    &.size-md {
      font-size: var(--font-size-md);
    }

    &.size-lg {
      font-size: var(--font-size-lg);
    }

    &.size-xl {
      font-size: var(--font-size-xl);
    }

    &.size-2xl {
      font-size: var(--font-size-2xl);
    }

    &.size-3xl {
      font-size: var(--font-size-3xl);
    }

    &.size-4xl {
      font-size: var(--font-size-4xl);
    }

    &.align-start {
      text-align: start;
    }

    &.align-center {
      text-align: center;
    }

    &.align-end {
      text-align: end;
    }
  }
</style>
