---
import MarkdownIt from "markdown-it";

const { text, size, align = "start", class: className, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

const md = MarkdownIt({ html: true });
const MarkdownText = text ? md.renderInline(text) : "";
---

<p
  class:list={["simple-text", size && `size-${size}`, `align-${align}`, className]}
  {...htmlAttributes}
>
  {text ? <span set:html={MarkdownText} /> : <slot />}
</p>
