---
import RenderBlock from "@components/utils/renderBlock.astro";

const { contentSections, class: className, _component, ...htmlAttributes } = Astro.props;
---

<div class:list={["grid-item", className]} {...htmlAttributes}>
  <slot>
    {
      contentSections && contentSections.length > 0 && (
        <RenderBlock contentSections={contentSections} propName="contentSections" />
      )
    }
  </slot>
</div>

<style lang="pcss">
  @layer components {
    .grid-item {
      container-type: inline-size;

      :global(editable-array-item:only-child) > :global(*:only-child),
      > :global(:not(editable-array):only-child) {
        height: 100%;
      }

      :global(editable-array-item:first-child) > :global(*:first-child),
      > :global(:not(editable-array):first-child) {
        margin-top: 0 !important;
      }
    }
  }
</style>
