---
import RenderBlock from "@components/utils/renderBlock.astro";

const { contentSections, class: className, _component, ...htmlAttributes } = Astro.props;
---

<div class:list={["grid-item", className]} {...htmlAttributes}>
  <slot>
    {
      contentSections && contentSections.length > 0 && (
        <RenderBlock contentSections={contentSections} propName="contentSections" />
      )
    }
  </slot>
</div>

<style lang="pcss" is:global>
  @layer components {
    .grid-item {
      container-type: inline-size;

      editable-array-item:only-child > *:only-child,
      > :not(editable-array):only-child {
        height: 100%;
      }

      editable-array-item:first-child > *:first-child,
      > :not(editable-array):first-child {
        margin-top: 0 !important;
      }
    }
  }
</style>
