---
import RenderBlock from "@components/utils/renderBlock.astro";

const { contentSections, class: className, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<div class:list={["grid-item", className]} {...htmlAttributes}>
  {
    contentSections && contentSections.length > 0 ? (
      <RenderBlock contentSections={contentSections} propName="contentSections" />
    ) : (
      <slot />
    )
  }
</div>

<style lang="pcss">
  .grid-item {
    container-type: inline-size;

    :global(editable-array-item:only-child) > :global(*:only-child),
    > :global(:not(editable-array):only-child) {
      height: 100%;
    }

    :global(editable-array-item:first-child) > :global(*:first-child),
    > :global(:not(editable-array):first-child) {
      margin-top: 0 !important;
    }
  }
</style>
