---
import Button from "@skele/components/elements/Button/index.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Button label="Click me!" type="primary" iconName="hero/heart" />
  <div class="mt-8 text-center">
    <a href="/skele/" class="text-blue-600 hover:text-blue-800 underline">
      View Component Library →
    </a>
  </div>
</BaseLayout>
