.smart-image {
  display: block;
  overflow: hidden;

  picture {
    margin-block: auto;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &.rounded {
    border-radius: var(--radius-lg);
  }
}
