:where(html) {
  .ratio {
    &--square {
      aspect-ratio: var(--aspect-square);
    }

    &--video {
      aspect-ratio: var(--aspect-video);
    }

    &--photo {
      aspect-ratio: var(--aspect-photo);
    }

    &--widescreen {
      aspect-ratio: var(--aspect-widescreen);
    }

    &--cinema {
      aspect-ratio: var(--aspect-cinema);
    }

    &--portrait {
      aspect-ratio: var(--aspect-portrait);
    }

    &--golden {
      aspect-ratio: var(--aspect-golden);
    }
  }
}
