:where(html) {
  .align {
    display: block;

    &--start {
      margin-inline-end: auto;
    }

    &--center {
      margin-inline: auto;
    }

    &--end {
      margin-inline-start: auto;
    }
  }

  .flex {
    &--start {
      align-items: flex-start;
    }

    &--center {
      align-items: center;
    }

    &--end {
      align-items: flex-end;
    }
  }
}
