.max-width {
  &-xs {
    max-width: var(--content-width-xs);
  }

  &-sm {
    max-width: var(--content-width-sm);
  }

  &-md {
    max-width: var(--content-width-md);
  }

  &-lg {
    max-width: var(--content-width-lg);
  }

  &-xl {
    max-width: var(--content-width-xl);
  }

  &-2xl {
    max-width: var(--content-width-2xl);
  }

  &-3xl {
    max-width: var(--content-width-3xl);
  }
}
