@import url("themes/_light.pcss");
@import url("themes/_dark.pcss");

:root {
  --section-background-color: var(--element-body-backgroundColor);

  /** Accordion **/
  --accordion__border-width__px: 1px;

  /** Carousel **/
  --carousel__button__border-width__px: 0px;

  /** Divider **/
  --divider__height__px: 1px;

  /** Icon **/
  --icon__border-width__px: 0px;
  --icon__border-radius__em: 0.1em;

  /** Modal **/
  --modal__title__border-width__px: 1px;
}
