---
import { z } from "zod/v4";
import "../styles/skele.pcss";
const baseLayoutSchema = z.object({
  title: z.string().default("Skele Site"),
});

const props = baseLayoutSchema.parse(Astro.props);
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
