---
import clsx from "clsx";
import Component from "../../utils/renderBlock.astro";
import "./button-group.pcss";

const { direction, align, button_blocks, class: className, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const alignMap = {
  start: "align-start",
  center: "align-center",
  end: "align-end",
} as const;

const alignClass = alignMap[align as keyof typeof alignMap] ?? "align-start";

const classNames = clsx(
  "button-group",
  direction === "column" ? "column" : "row",
  alignClass,
  className
);
---

<div class:list={classNames} {...htmlAttributes}>
  <slot />
  <Component contentBlocks={button_blocks} />
</div>
