---
import clsx from "clsx";
import Icon from "../../elements/icon/icon.astro";
import RenderBlock from "../../utils/renderBlock.astro";
import "./accordion.pcss";

const { items, openFirst, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const classNames = clsx("accordion");
---

<div class:list={classNames} {...htmlAttributes}>
  {
    items.map((item: any, index: number) => {
      const isFirst = index === 0 && openFirst;

      return (
        <details name="test" class="item" open={isFirst}>
          <summary class="title">
            <span class="text">{item.title}</span>
            <Icon name="chevron-up" size="none" />
          </summary>
          <div class="detail">
            <RenderBlock contentBlocks={item.content_blocks} />
          </div>
        </details>
      );
    })
  }
</div>
