---
// @ts-ignore
import markdownit from "markdown-it";

const md = markdownit({ html: true });

const { text = "", align = "start", class: className, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

const markdownContent = text ? md.render(text) : "";
---

<div class:list={["rich-text", className, `align-${align}`]} {...htmlAttributes}>
  {text ? <Fragment set:html={markdownContent} /> : <slot />}
</div>
