.counter {
  align-items: start;
  display: flex;
  font-size: var(--font-size-6xl);
  font-weight: var(--font-weight-bold);

  &.alignment-end {
    justify-content: end;
  }
  &.alignment-center {
    justify-content: center;
  }
}
